<?xml version="1.0" encoding="UTF-8"?>

<!--
	YTImg Web.config
	Serves (e.g.) "/Default.JPG" for all URLs
	Requires the IIS URL-Rewrite-Module to be installed: https://www.iis.net/downloads/microsoft/url-rewrite
	
	Ben Mullan (c) 2023
-->

<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="ytimg" patternSyntax="Wildcard">
					<match url="*" />
					<action type="Rewrite" url="Default.JPG" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>